.likest-scale {
    margin: 20px;
  }
  .likest-scale p {
    font-weight: bold;
  }
  .likest-scale div {
    display: flex;
    flex-direction: row;
    gap:1rem;
  }
  .likest-scale label {
    cursor: pointer;
    margin: 5px 0;
  }