

.admin-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  margin-bottom: 20px;
}

.table-container {
  box-shadow: none;
}

.MuiTableCell-head {
  background-color: #f2f2f2;
  font-weight: bold !important;
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: #f9f9f9;
}

.MuiTableRow-root:hover {
  background-color: #f1f1f1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form Button {
  width: max(5vw, 100px);
  padding: 10px 0;
  margin-top: 4vh;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

.form Button:hover {
  background-color: darkred;
}

.form .main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.question-number {
  padding-right: 10px;
}

.question-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question-prompt {
  font-weight: bold;
  margin-bottom: 10px;
}

.question-options {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure options take full width on mobile */
}

/* Update for mobile responsiveness */
@media (max-width: 768px) {
  .admin-list-container, .form {
      padding: 10px;
  }

  .form Button {
      width: 80%;
  }

  .question-container {
      flex-direction: column;
      align-items: flex-start;
      width: 100%; /* Ensure full width on mobile */
  }

  .question-number {
      padding-right: 0;
      margin-bottom: 10px;
      width: 100%; /* Ensure full width for question number */
  }

  .question-content {
      width: 100%; /* Ensure full width for question content */
  }

  .question-options {
      flex-direction: column;
      width: 100%; /* Ensure options take full width on mobile */
  }
}
