 /* .container {
  display: flex;
  height: 100vh;
  justify-content: center; 
  align-items: center; 
  background-image: url('../../assets/3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; 
}

.form-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  max-width: 500px; 
  height: 100%; 
  margin-right: 2px;
}

.form {
  width: 100%; 
  max-width: 400px; 
  padding: 5px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 48%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.title {
  margin-bottom: 20px;
  color: #6a0dad;
  text-align: center;
}

.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  max-width: 500px; 
  height: 100%; 
}

.image {
  width: 100%; 
  max-width: 400px; 
  height: 50%; 
  object-fit: cover; 
  border-radius: 8px; 
}  */


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('../../assets/6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 750px;
  width: 100%;
}

.login-form {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px; 
  width: 100%;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #6a0dad;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 17px;
  color: rgb(234, 167, 234);
  margin-bottom: 30px;
}

.login-image {
  flex: 1;
  background: url('../../assets/8 (1).jpg') no-repeat center center;
  background-size: cover;
  display: none; /* Hide on mobile */
}

.error-msg{
  color:red;
  font-size: 16px;
}

@media (min-width: 645px) {
  .login-image {
      display: block;
  }
}
