.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-search input{
    padding:5px 25px;
    border-radius: 5px;
    border: 1px solid gray;
    outline:none;
}