.list-of-questions{
    margin-top: 40px;
}

.list-of-questions li{
    list-style: none;
    margin-top: 30px;
    
    

}


  



.list-of-questions hr{
    height: 1.5px;
    background-color: #e2e2e2;
    border: none;
}