.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-top: 10px;
    
}
.navbar h6{
    font-weight: 600;
    font-size: 30px;
    color:gray;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.list li{
    list-style: none;
    color:gray;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}