@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Outfit:wght@100..900&family=Timmana&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
  
}

body{
  min-height: 100vh;
}

.app{
  width:80%;
  margin: auto;
}